.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box .user-box button {
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
    border: none;
    outline: none;
    width: 100%;
    padding: 2% 0;
    text-align: center;
    font-family: Varta;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    border-radius: 14px;
}

.login-box .user-box a {
    font-family: Varta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
}

.login-box .user-box p {
    font-family: 'Rouge Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
}