.pic-cont {
    width: 100%;
    height: 80%;
    flex-direction: row;
}

.pic-cont .info,
.pic-cont .image {
    width: 50%;
    background-color: black;
}

.pic-cont .image img {
    height: 60vmax;
    width: 100%;
    object-fit: contain;
}

.pic-cont .info {
    /* background-color: yellow; */
    padding: 0 2%;
    color: white;
    height: 100%;
}

.pic-cont .info .pic_info {
    max-height: 30%;
}

.pic-cont .info .pic_info,
.pic-cont .info .comments {
    width: 98%;
    padding: 2%;
    margin: 0 auto 4%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 10px;
}

.pic-cont .info .pic_info .user {
    width: 100%;
    flex-direction: row;
}

.pic-cont .info img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 2%;
}

.pic-cont .info .new_comment {
    width: 100%;
}

.pic-cont .info .new_comment input {
    width: 70%;
    border-radius: 5px;
    padding: 1%;
}

.pic-cont .info .new_comment .btn {
    width: 20%;
}

.pic-cont .info .comments {
    max-height: 45vmax;
    overflow-y: scroll;
}

.pic-cont .info .comments .comment {
    width: 100%;
    border-radius: 8px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    margin-bottom: 2%;
}

.pic-cont .info .comments .comment img:hover {
    cursor: pointer;
}


/* album page */

.album-info {
    background-color: black;
    color: white;
    padding: 2% 0 5%;
}

.album-info .owner {
    background-color: black;
    color: white;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.album-info .owner img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 2%;
}