body,
html {
    background-color: black;
}

.profile {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    border: none;
}

.albums {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
}

.album {
    position: relative;
    border-radius: 10px;
    background: center/cover no-repeat;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.05);
    height: 130px;
    width: 200px;
    margin: 0 2%;
}

.album .blur {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(109.8deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.35) 100%);
}

.album:hover p {
    font-weight: 900;
    font-size: 17px;
}

.album:hover {
    position: relative;
    border-radius: 10px;
    background: center/cover no-repeat;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.05);
    height: 130px;
    width: 200px;
    margin: 0 2%;
    cursor: pointer;
}

.album .blur p {
    position: absolute;
    transition: ease-in-out .3s;
    bottom: -10px;
    left: 5px;
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
}

.user_data {
    font-family: 'Varta', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
}

.user_data .btns {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.user_data .btns .btn {
    margin: 2% auto;
}

.user_data .btns .btn:hover {
    cursor: pointer;
}

.user_data .user_avatar {
    background: center/cover no-repeat;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
}

.user_data h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.user_data p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    margin-bottom: 21px;
}

.user_data .btn {
    width: 180px;
    margin: 0 auto 20px;
    border-radius: 12px;
}

@media (max-width:770px) {
    .profile {
        flex-direction: column-reverse;
        padding: 0 5%;
    }
    .user_data {
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .user_data .btns {
        width: 40%;
    }
    .user_data .user_avatar {
        width: 110px;
        height: 110px;
        margin: 0 auto;
    }
    .albums {
        width: 100%;
        margin: 5% auto;
    }
    .album {
        width: 29%;
        height: 20vmin;
        margin: 2%;
    }
    /* .login-box {
        margin-top: 10%;
    } */
}

@media (max-width:420px) {
    .profile {
        padding: 0 5%;
    }
    .user_data {
        flex-direction: column;
    }
    .user_data .btns {
        width: 100%;
    }
    .user_data .user_avatar {
        width: 130px;
        height: 130px;
    }
    .albums {
        width: 100%;
    }
    .album {
        height: 100px;
        width: 45%;
        margin: 2%;
    }
    .login-box {
        margin-top: 10%;
    }
}

.change_passw {
    display: none;
    width: calc(100% - 300px);
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    margin: 0 auto;
}

.file-input {
    width: 100%;
    margin: 0 auto;
}

.file-input label {
    background-color: gray;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    margin: 2% auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}